# For advice on how to change settings please see

# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html



[client]

default-character-set = utf8mb4



[mysql]

default-character-set = utf8mb4



[mysqld]

explicit_defaults_for_timestamp=true

#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER 

#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER



port             = 3306

basedir          = /data/mysql/mysql-5.7.34-linux-glibc2.12-x86_64

datadir          = /data/mysql/my3306

server_id        = 253306

socket           = /data/mysql/logs/mysql.sock

back_log         = 350

connect_timeout  = 20

event_scheduler  = off

local_infile     = off

secure_file_priv = /data/mysql/dbbak

pid-file         = /data/mysql/logs/mysql.pid

wait_timeout     = 1800

interactive_timeout  =1800

character-set-client-handshake = FALSE

character_set_server = utf8mb4

collation-server = utf8mb4_unicode_ci

skip_name_resolve

log_timestamps=system

default-time_zone = '+8:00'

skip-ssl

disable-partition-engine-check



#########  bin log      ####################

binlog_format                = row

binlog_row_image             = full

binlog_cache_size            = 64M

max_binlog_size              = 1G

max_binlog_cache_size        = 2G

binlog_rows_query_log_events = 0

master_verify_checksum       = 1

slave_allow_batching         = 1

expire_logs_days             = 14

log-bin                      = /data/mysql/logs/mysql_bin



######### error log    ####################

#log_warnings     = 2

log_error        = /data/mysql/logs/error.log

#log_syslog

log_syslog_tag   = 3316 

########## general_log ####################

general_log 	= off

general_log_file = /data/mysql/logs/general.log





########## slow log    ####################

long_query_time               = 1 

slow_query_log                = on 

log_queries_not_using_indexes = off

#log_slow_admin_statements     = on

#log_slow_slave_statements     = on

slow_query_log_file = /data/mysql/logs/slow.log





##########replication####################

#skip_slave_start

read_only                 = off

slave_parallel_type       = logical_clock

slave_parallel_workers    = 4

relay_log_info_repository = TABLE

master_info_repository    = TABLE

relay_log_recovery        = on

sync_master_info          = 10000

slave_compressed_protocol = off

slave_net_timeout         = 10

log_slave_updates

relay_log= /data/mysql/logs/relay_bin



#slave_skip_errors = all

#slave-skip-errors=1064 1146 1062

#rpl_semi_sync_master_enabled = ON

#rpl_semi_sync_slave_enabled = ON

#rpl_semi_sync_master_timeout = 10000

gtid_mode                = ON

enforce_gtid_consistency = ON

relay_log_purge		= ON



#replicate_wild_ignore_table =mysql.%

#replicate_wild_ignore_table =information_schema.%

#replicate_wild_ignore_table =performance_scheme.%

#replicate_wild_ignore_table =sys.%

#replicate_wild_ignore_table =percona.%



########### innodb ####################

default_storage_engine          = InnoDB

innodb_buffer_pool_size         = 16384M

innodb_buffer_pool_instances    = 6

innodb_data_home_dir            = /data/mysql/my3306/

innodb_data_file_path           = ibdata1:1000M;ibdata2:100M:autoextend

innodb_log_group_home_dir       = /data/mysql/logs/

innodb_log_files_in_group       = 3

innodb_log_file_size            = 256M

innodb_log_buffer_size          = 16M

innodb_lock_wait_timeout        = 40

innodb_file_per_table           = 1

innodb_stats_on_metadata        = OFF

lower_case_table_names          = 1

innodb_flush_method             = O_DIRECT

innodb_flush_log_at_trx_commit  = 1

log_bin_trust_function_creators = 1

sync_binlog                     = 1

innodb_open_files               = 1024

innodb_thread_concurrency       = 0

innodb_print_all_deadlocks      = ON

performance_schema              = ON

innodb_undo_log_truncate        = 1

innodb_undo_tablespaces         = 3

innodb_rollback_segments        = 128

innodb_max_undo_log_size        = 1073741824

innodb_undo_directory           = /data/mysql/logs/



#innodb_purge_threads           = 1

##innodb_write_io_threads       = 4

##innodb_read_io_threads        = 4



#thread_pool

#thread_handling                =pool-of-threads

#thread_pool_stall_limit        =10



#########for SSD ###################

innodb_io_capacity       = 500 

innodb_adaptive_flushing = OFF

innodb_flush_neighbors   = 2



#########per_thread_buffers####################

max_connections           = 10000

max_connect_errors        = 2048

max_allowed_packet        = 32M

max_heap_table_size       = 256M

tmp_table_size            = 256M

max_prepared_stmt_count   = 1M

query_alloc_block_size    = 128K

query_cache_limit         = 0

query_cache_size          = 0

join_buffer_size          = 512k

key_buffer_size           = 1M

query_cache_type          = 0

query_prealloc_size       = 64K

read_buffer_size          = 1M

read_rnd_buffer_size      = 512K

sort_buffer_size          = 2M

table_open_cache          = 2048

table_open_cache_instances= 8

thread_cache_size         = 128

group_concat_max_len      = 2048

skip-external-locking



#myisam

#myisam_recover_options=BACKUP,FORCE

#key_buffer_size=2G



[mysqldump]

max_allowed_packet = 32M
